@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-sora: "Sora", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;
    color-scheme: dark;
}

* {
    scroll-behavior: smooth;
}

@layer base {
    body {
        @apply font-sans bg-n-8 text-n-1 text-base;
    }
}

@layer utilities {
    @keyframes move {
        0% {
            left: 0;
            opacity: 0;
            transform: rotate(180deg);
        }

        35% {
            left: 41%;
            opacity: 1;
            transform: rotate(0deg);
        }

        65% {
            left: 59%;
            opacity: 1;
            transform: rotate(0deg);
        }

        100% {
            left: 100%;
            opacity: 0;
            transform: rotate(-180deg);
        }
    }

    .animate-move {
        animation: move 1.5s linear infinite;
    }

    .perspective-\[800px\] {
        perspective: 800px;
    }

    @keyframes rotate-one {
        0% {
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        }

        100% {
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        }
    }

    @keyframes rotate-two {
        0% {
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        }

        100% {
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        }
    }

    @keyframes rotate-three {
        0% {
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        }

        100% {
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        }
    }

    .animate-rotate-one {
        animation: rotate-one 1s linear infinite;
    }

    .animate-rotate-two {
        animation: rotate-two 1s linear infinite;
    }

    .animate-rotate-three {
        animation: rotate-three 1s linear infinite;
    }
}

.gradient-text {
    background: linear-gradient(45deg, #FFC876, #79FFF7, #9F53FF, #FF98E2, #FFC876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rotate-45 {
    @apply rotate-[45deg];
}

.rotate-90 {
    @apply rotate-[90deg];
}

.rotate-135 {
    @apply rotate-[135deg];
}

.rotate-180 {
    @apply rotate-[180deg];
}

.rotate-225 {
    @apply rotate-[225deg];
}

.rotate-270 {
    @apply rotate-[270deg];
}

.rotate-315 {
    @apply rotate-[315deg];
}

.rotate-360 {
    @apply rotate-[360deg];
}

.-rotate-45 {
    @apply rotate-[-45deg];
}

.-rotate-90 {
    @apply rotate-[-90deg];
}

.-rotate-135 {
    @apply rotate-[-135deg];
}

.-rotate-180 {
    @apply rotate-[-180deg];
}

.-rotate-225 {
    @apply rotate-[-225deg];
}

.-rotate-270 {
    @apply rotate-[-270deg];
}

.-rotate-315 {
    @apply rotate-[-315deg];
}

.-rotate-360 {
    @apply rotate-[-360deg];
}